.App {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.form,
.result {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding-bottom: 20px;
  align-items: center;
  min-width: 30em;
  max-width: 45em;
  background-color: #fafafa;
}

.cardSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.creditCardSecurity {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.creditCardSecurity input {
  margin: .5em .5em;
}

.inputLabel {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  text-align: left;
}

.inputLabel > input {
  padding: 1px 15px;
  margin: 10px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 3px;
}

.submitButton {
  height: 40px;
  padding: 0 20px;
}

.invalidInput {
  border: 1px solid #ff0000 !important;
}

.result > div {
  margin: 5px;
}